:root {
  --secondary-color: #fee1e3;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Scope One", serif;
  --heading-color: #ff0b04;
  --background-color: #fffde7;
}
body {
  font-family: var(--default-font-family);
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
}
h2 {
  font-size: 64px;
  font-weight: bold;
}
p {
  font-size: 20px;
  line-height: 30px;
  color: var(--heading-color);
  opacity: 0.5;
}
footer {
  padding: 30px 20px;
}
nav {
  padding: 0 30px;
}
nav ul {
  margin: 0;
  padding-top: 20px;
}
nav li {
  list-style: none;
  display: inline;
  font-size: 24px;
  line-height: 42px;
  margin-left: 30px;
}
nav li a {
  text-decoration: none;
  color: var(--heading-color);
  transition: all 150ms ease-in-out;
}
nav li a:hover,
nav li.active a {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
}

nav img {
  max-width: 80px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 30px 20px;
}

.btn-branding {
  background-color: #ff5141;
  color: var(--background-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 150ms ease-in-out;
}
.btn-branding:hover {
  background: var(--background-color);
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
}
.btn-branding-outline {
  color: var(--heading-color);
  border: 1px solid var(--heading-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 150ms ease-in-out;
}
.btn-branding-outline:hover {
  color: var(--secondary-color);
  background: #ff5141;
}
.description {
  padding: 30px 60px 0;
}
.project-img {
  border-radius: 4px;
}
.project-description h3 {
  font-size: 24px;
}
.project-description p {
  font-size: 16px;
  max-width: 350px;
}
.icon {
  font-size: 38px;
  color: var(--heading-color);
  padding: 20px;
  opacity: 0.8;
}
.page-content {
  background-color: var(--background-color);
}
.email-link {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 24px;
}
.email-link:hover {
  color: var(--heading-color);
}
.code-link {
  font-size: 16px;
}
.code-link a {
  color: var(--heading-color);
}

@media (max-width: 576px) {
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  .logo {
    width: 300px;
  }
  .project-description {
    padding: 0;
  }
  .hero {
    padding: 60px 0;
  }
  .fab {
    font-size: 28px;
  }
  .btn-branding {
    font-size: 16px;
  }
  .build-together {
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .heading-about {
    margin-bottom: 50px;
  }
  .img-responsive {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  .paragraph-about {
    margin-top: 50px;
  }
  nav li {
    margin-left: 10px;
    font-size: 16px;
  }
  .description {
    text-align: center;
  }
}
